<h1><%= @player_1 %> vs. <%= @player_2 %></h1>

<%= @player_1 %>: 20HP
<%= @player_2 %>: 15HP
<br>
<br>
<img src=https://i.ytimg.com/vi/Lf54gV0V5fI/maxresdefault.jpg height="200" width="200">
<br>
<br>
<br>
<a href="/attack2">Your Turn Player 2: Attack</a>
